In [1]:
METADATA = '../data/informations_about_the_cutouts.json'

In [12]:
import cv2 as cv
import json
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_json(METADATA)
df.head()

,area,aspect_ratio,cord_h,cord_w,cord_x,cord_y,extent,image,number,perimeter,solidity,type,zernike
0,419.5,1.040000,25,26,982,975,0.645385,1.tif,C1,84.526911,0.934298,C,"[0.3183098862, 0.0202566127, 0.0872028329, 0.0..."
1,1149.0,0.829787,47,39,1073,971,0.626841,1.tif,C2,148.225395,0.904368,C,"[0.3183098862, 0.0305299976, 0.0876233596, 0.0..."
2,565.5,1.071429,28,30,1173,859,0.673214,1.tif,C11,97.840619,0.936258,C,"[0.3183098862, 0.0127551507, 0.0780108563, 0.0..."
3,2769.0,0.655914,93,61,901,962,0.488102,3.tif,C101,257.965510,0.902395,C,"[0.3183098862, 0.0077260933, 0.059410504, 0.06..."
4,1271.5,0.589286,56,33,1397,674,0.688041,25.tif,C1001,153.982755,0.948173,C,"[0.3183098862, 0.0204014883, 0.0681036832, 0.0..."

In [23]:
data = {}

for _, row in df.iterrows():
    if not row['image'] in data:
        data[row['image']] = []
    data[row['image']].append([row['cord_h'], row['cord_w'], row['cord_x'], row['cord_y']])

In [25]:
new_data = []
for key, value in data.items():
    new_data.append({
        'image': key,
        'labels': value
    })
chromosomes = pd.DataFrame(data=new_data)
chromosomes.head()

    image                                             labels
0   1.tif  [[25, 26, 982, 975], [47, 39, 1073, 971], [28,...
1   3.tif  [[93, 61, 901, 962], [31, 36, 1093, 939], [45,...
2  25.tif  [[56, 33, 1397, 674], [27, 25, 1204, 670], [38...
3  26.tif  [[49, 80, 917, 793], [58, 88, 952, 735], [168,...
4  27.tif  [[55, 42, 1257, 918], [62, 34, 1526, 843], [74...

In [28]:
chromosomes.to_parquet('../data/annotations.parquet')